*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.flex-content{
    width: 700px;
    height: 600px;
    flex-direction: row;
    border: 1px solid red;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 30px;
    
}
.dispalay-flex{
    border: 1px solid #999;
    color: #fff;
    padding: 10px;
    background: green;
    text-align: center;
    width: 100px;
}
.dispalay-flex:nth-child(3) {
    order: 20;
    color: greenyellow;
}

.wapping{
    max-width: 1200px;
    margin: auto;
    background: #fafafa;
}
.menu{
    background: green;
}
.menu ul{
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}
.menu ul li{
    flex-grow: 1;
}
.menu ul li a{
    padding: 10px 0;
    border: 1px solid #ddd;
    display: block;
    color: #fff;
}
.row-2{
    display: flex;
    flex: 1;
}
.flex-itme{
    border: 1px solid red;
}
.row-3{
    display: flex;
    margin-top: 20px;
}
.row-itme3{
    border: 1px solid rosybrown;
    flex-basis: 30%;
}
.bigger-div{
     flex-basis: 70%;
}
.row-4{
    display: flex;
    margin-top: 20px;
}
.row-itme4{
    border: 1px solid sandybrown;
    flex: 1 0 0%;
}
.row4-bigger{
    flex-grow: 2;
}

.centercenterdiv{
    width: 600px;
    height: 600px;
    border: 2px solid green;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.inner-center{
    width: 200px;
    height: 200px;
    text-align: center;
    background: red;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}
.img-content{
    width: 600px;
    height: 600px;
    border: 2px solid #80004f;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.row-img{
    flex-basis: 30%;
}
.row-img-text{
    flex-basis: 70%;
    border: 1px solid springgreen;
    text-align: center;
}
.row-img-text1{
    width: 250px;
    height: 203px;
    background: tomato;
    color: yellow;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}